html, body  {
    height: 100%;
    margin: 0;
}

.container {  display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row; */
    grid-template-areas:
      "Miku"
      "Pic"
      "Info"
      "Gif"
      "Socials";
    
      background-color: black;
      color: white;
}

/* #test {grid-area: test;} */
  .Miku { grid-area: Miku; }
  .Pic { grid-area: Pic; }
  .Info { grid-area: Info; }
  .Gif { grid-area: Gif; }
  .Socials { grid-area: Socials; }
  
 

.Miku {display: flex;
align-items: center;
justify-content: center;}

h1 {color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 50pt;}

.Pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}    

 .Info { 
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
 }   


ul {text-align: left;
}  

.Gif {display: flex;
flex-direction: column;}

.Gif > img {
 width:100% 
}


.Socials {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Bebas Neue', cursive;

}

@media (min-width: 576px) {
  .container {
      display: grid;
      grid-template-areas:
      "Miku Miku"
      "Pic Info"
      "Gif Gif"
      "Socials Socials";

  }
  .Gif {display: flex;
    flex-direction: row;
  }
  .Gif > img {
    height: 100px;
  width: auto;
  }
}

/* @media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-areas:
    "Miku Miku Miku"
    "Pic Info Info"
    "Gif Gif Gif"
    "Socials Socials Socials";

}
.Gif {display: flex;
  flex-direction: row;
}
.Gif > img {
  height: 100px;
width: auto;
}

} */

