body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://i.ytimg.com/vi/lklDJ5VRQao/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* What kind of selector is this? */
.logo {
  width: 150px;
  height: 150px;
  margin: 3% 10%;
}

header {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
}

main {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

/* This is an element within and element selector */ 
nav > a {
  margin: 2% 1% 3%;
  height: 10%;
  width: 15%;
  color: rgb(217, 16, 16);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 25px;
  background: transparent;
  padding: 20px;
  text-align: center;
  border: 2px solid rgb(79, 114, 195);
}

.has-border {
  border-radius: 25px;
  border: 2px solid #a4d829;
  background: none;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2%;
}
/* This is an ID selector */
#profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 15% auto;
  grid-column: 2/3;
}

h1 {
  color:rgb(221, 23, 23);
  grid-column: 2/3;
  margin: 3% auto;
  border-bottom: 2px solid #030303;;
}

h2 {
  grid-column: 2/3;
  margin: 3% auto;
  font-style: italic;
}

.small-text {
  grid-column: 2/3;
  color: white;
  font-size: 10px;
  margin: 3% auto;
}

button {
  grid-column: 2/3;
  margin: 3% auto;
  width: 50%;
  height: 5%;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
  border-radius: 25px;
  background: transparent;
  padding: 5px;
  padding-bottom: 5%;
  text-align: center;
  color: rgb(49, 33, 231);
  letter-spacing: 5px;
  font-style: bold;
}